* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}
/* body {
  background-color: #435165;
} */
.login {
  width: 400px;
  background-color: #ffffff;
  margin: 100px auto;
  border: 1px solid #dee0e4;
}
.login h1 {
  text-align: center;
  color: #5b6574;
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}
.login form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.login form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #a5dfc0;
  color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
  width: 310px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}
.login form input[type="submit"] {
  width: 100%;
  padding: 15px;
 margin-top: 20px;
  background-color: #a5dfc0;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
background-color: #a5dfc0;
  transition: background-color 0.2s;
}

/* Styles for the home page */
.navtop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
  /* border: 1px solid black; */
  width: 100%;
  height: 60px;
  background-color: lemonchiffon;
}

.navtop h1 {
  font-size: 24px;
  font-weight: 600;
  padding: 0 25px;
  color: #435165;
}

.navtop p {
  font-size: 14px;
  /* margin-right: 25px; */
  padding: 0 25px;
  color: #435165;
}

.content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /* border: 1px solid red; */
  padding: 10px;
  text-align:center;
}

.content h1,h2 {
  margin: 20px 0;
}

.content h3 {
  margin: 10px 0;
}

.options {
  margin: 0 auto;
  
  /* border: 1px solid red; */
}

input[type=button] {
  /* remove default behavior */
  appearance:none;
  -webkit-appearance:none;

  /* usual styles */
  padding:20px;
  border:none;
  background-color:#a5dfc0;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width:50%;
}

input[type=button]:hover {
  background-color:#5bb08f;
  cursor:pointer;
}

.init {
  /* remove default behavior */
  appearance:none;
  -webkit-appearance:none;

  /* usual styles */
  padding:10px;
  border:none;
  background-color:#a5dfc0;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  text-decoration: none;
  margin: 5px 0;
}

.init:hover {
  background-color:#5bb08f;
  cursor:pointer;
}